<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Balázs Varga - Professional Profile</title>
    <meta name="description" content="Discover the professional profile of Balázs Varga. View links to LinkedIn, GitHub, Bluesky, and blog content. Connect now!">
    <meta name="keywords" content="Balázs Varga, CTO, Engineering Leader, Software Development, Mobile Development, LinkedIn, GitHub, Blog">
    <meta name="author" content="Balázs Varga">
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="<%- baseUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Balázs Varga" />
    <meta property="og:description" content="Discover the professional profile of Balázs Varga. View links to LinkedIn, GitHub, Bluesky, and blog content. Connect now!" />
    <meta property="og:image" content="<%- baseUrl + '/' + profilePictureUrlPath %>" />
    <meta property="og:image:alt" content="Profile picture of Balázs Varga, CTO @ Apter" />
    <meta property="og:image:width" content="1366" />
    <meta property="og:image:height" content="1269" />
    <link rel="preload" href="../assets/fonts/Poppins-Bold-latin.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="../assets/fonts/Poppins-Regular-latin.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="canonical" href="<%- baseUrl %>" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "Balázs Varga",
            "url": "<%- baseUrl %>",
            "sameAs": [
                "https://www.linkedin.com/in/-balazs-varga-/",
                "https://github.com/warnyul",
                "https://bsky.app/profile/balzsvarga.bsky.social"
            ],
            "image": "<%- `${baseUrl}/${profilePictureUrlPath}` %>",
            "description": "Discover the professional profile of Balázs Varga. Links to LinkedIn, GitHub, Bluesky, and blog. Connect now!"
        }
    </script>
</head>
<body>
    <header>
        <picture>
            <source type="image/webp" srcset="../assets/images/profile100w100h.png?as=webp" />
            <img class="clazz-profile-image" src="../assets/images/profile100w100h.png" alt="Profile picture of Balázs Varga, CTO @ Apter" loading="eager" width="100" height="100" />
        </picture>
        <h1>Balázs Varga</h1>
        <h2>CTO & Engineering Lead</h2>
    </header>
    <main>
        <nav class="clazz-profile-links" aria-label="Profile links">
            <% links.forEach(function(link) { %>
                <a class="clazz-button" href="<%- link.url %>" aria-label="Visit <%= link.name %>" target="_blank" rel="noopener noreferrer ugc"><%= link.name %></a>
            <% }); %>
        </nav>
        <nav class="clazz-social-links" aria-label="Social links">
            <% socialLinks.forEach(function(link) { %>
                <div class="clazz-social-link-container">
                    <a href="<%- link.url %>" aria-label="Visit <%= link.name %>" target="_blank" rel="noopener noreferrer ugc">
                        <%- include(`../assets/images/fa6-brands-${link.icon}.svg`) %>
                    </a>
                </div>
            <% }); %>
            <div class="clazz-social-link-container">
                <a class="clazz-copy-link" href="#" aria-label="Copy link" rel="noopener">
                    <%- include(`../assets/images/fa6-solid-arrow-up-right-from-square.svg`) %>
                </a>
            </div>
        </nav>
    </main>
    <footer>
        <p>© <%= (new Date()).getFullYear() %> Balázs Varga. All rights reserved.</p>
    </footer>
</body>
</html>