<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <meta name="description" content="<%= description %> Connect now!">
    <meta name="keywords" content="<%= name %>, CTO, Engineering Leader, Software Development, Mobile Development, LinkedIn, GitHub, Blog">
    <meta name="author" content="<%= name %>">
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="<%- baseUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= name %>" />
    <meta property="og:description" content="<%= description %> Connect now!" />
    <meta property="og:image" content="<%- baseUrl + '/' + profilePictureUrlPath %>" />
    <meta property="og:image:alt" content="Profile picture of <%= name %>, CTO @ Apter" />
    <meta property="og:image:width" content="1366" />
    <meta property="og:image:height" content="1269" />
    <link rel="preload" href="../assets/fonts/Poppins-Bold-latin.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="../assets/fonts/Poppins-Regular-latin.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="canonical" href="<%- baseUrl %>" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "<%= name %>",
            "url": "<%- baseUrl %>",
            "sameAs": [
                "https://www.linkedin.com/in/-balazs-varga-/",
                "https://github.com/warnyul",
                "https://bsky.app/profile/balzsvarga.bsky.social"
            ],
            "image": "<%- `${baseUrl}/${profilePictureUrlPath}` %>",
            "description": "<%= description %> Connect now!"
        }
    </script>
</head>
<body itemprop="about" itemscope itemtype="https://schema.org/Person">
    <header>
        <picture>
            <source type="image/webp" srcset="../assets/images/profile100w100h.png?as=webp" />
            <img class="clazz-profile-image"
                src="../assets/images/profile100w100h.png"
                alt="Profile picture of <%= name %>, CTO @ Apter"
                itemprop="image" 
                loading="eager"
                width="100"
                height="100" />
        </picture>
        <h1><span itemprop="name"><%= name %></span><br/><span itemprop="jobTitle">CTO & Engineering Lead</span></h1>
    </header>
    <main>
        <nav class="clazz-profile-links" aria-label="Profile links">
            <% links.forEach(function(link) { %>
                <a class="clazz-button"
                    href="<%- link.url %>"
                    aria-label="Visit <%= link.name %>"
                    target="_blank"
                    rel="noopener noreferrer ugc"
                    itemprop="url">
                    <%= link.name %>
                </a>
            <% }); %>
        </nav>
        <nav class="clazz-social-links" aria-label="Social links">
            <% socialLinks.forEach(function(link) { %>
                <div class="clazz-social-link-container">
                    <a href="<%- link.url %>"
                        aria-label="Visit <%= link.name %>"
                        target="_blank"
                        rel="noopener noreferrer ugc"
                        itemprop="sameAs">
                        <%- include(`../assets/images/fa6-brands-${link.icon}.svg`) %>
                    </a>
                </div>
            <% }); %>
            <div class="clazz-social-link-container">
                <a class="clazz-copy-link" href="#" aria-label="Copy link" rel="noopener">
                    <%- include(`../assets/images/fa6-solid-arrow-up-right-from-square.svg`) %>
                </a>
            </div>
        </nav>
    </main>
    <footer>
        <p>© <%= (new Date()).getFullYear() %> <%= name %>. All rights reserved.</p>
    </footer>
</body>
</html>