<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Balázs Varga</title>
    <meta name="description" content="Discover the professional profile of Balázs Varga. View links to LinkedIn, GitHub, Bluesky, and blog content.">
    <meta name="keywords" content="Balázs Varga, LinkedIn, GitHub, Bluesky, Blog">
    <meta name="author" content="Balázs Varga">
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="bvarga.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Balázs Varga" />
    <meta property="og:description" content="Discover the professional profile of Balázs Varga. View links to LinkedIn, GitHub, Bluesky, and blog content." />
    <meta property="og:image" content="../asset/resource/profile.png" />
    <meta property="og:image:alt" content="Balázs Varga's profile picture" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="clazz-container">
        <div class="clazz-content">
            <header>
                <img width="100" height="100" src="../asset/resource/profile100w100h.png" alt="Balázs Varga" class="clazz-profile-image">
                <h1 class="clazz-text-center">Balázs Varga</h1>
            </header>

            <% links.forEach(function(link) { %>
                <div class="clazz-button-container">
                    <a href="<%- link.url %>" target="_blank" rel="noopener noreferrer ugc"><%= link.name %></a>
                </div>
            <% }); %>
            <div class="clazz-social-links">
                <% socialLinks.forEach(function(link) { %>
                    <div class="clazz-social-link-container">
                        <a href="<%- link.url %>" aria-label="<%= link.name %>" target="_blank" rel="noopener noreferrer ugc">
                            <i class="fa-brands fa-<%- link.icon %> fa-2xl"></i>
                        </a>
                    </div>
                <% }); %>
                <div class="clazz-social-link-container">
                    <a class="clazz-copy-link" href="#" aria-label="Copy link" rel="noopener">
                        <i class="fa-solid fa-arrow-up-right-from-square fa-2xl"></i>
                    </a>
                </div>
            </div>
            <footer>
            </footer>
        </div>
    </div>
</body>
</html>